img {
    height: 350px;
}

#movie-input {
    width: 50%;
}

#year-input {
    width: 25%;
}

.h6 {
    font-size: 10px;
}

.column {
    margin: 10px;
}

.button {
    margin-left: 3px;
    margin-right: 3px;
}

.movie-btn {
    margin-bottom: 20px;
}

body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}